html,body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.cesium-viewer-bottom,.cesium-viewer-zoomIndicatorContainer{display: none;}